header .logo {
    width: 20%;
}
header .nav {
    display: none;
}
.fa-solid.fa-bars{
    display: inline;
    color: white;
}
section1 {
    padding: 0 2%;
    flex-direction: column;
    text-align: center;
}
section1 h2 {
    font-size: 30px;
}
section1 h1 {
    font-size: 40px;
}
section1 p {
    width: auto;
}
#about .me {
    width: auto;
    padding: 0 9%;
}
#Portfolio .same {
    font-size: 12px;
}
#contact div {
    gap: 30%;
}
footer img {
    width: 50%;
}
